extend layout
block content
  .game
    .space.top.left
    .space.top
    .space.top
    .space.top.right
    <br>
    .space.left
    .space
    .space.dot
    .space.right
    <br>
    .space.left
    .space <img src="/images/blackPiece.png" alt="Black Piece">
    .space <img src="/images/whitePiece.png" alt="White Piece">
    .space.right
    <br>
    .space.bottom.left
    .space.bottom
    .space.bottom
    .space.bottom.right
