doctype
html
  head
    title #{title} - go-client
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    header
      h1 Enjoy a Game of Go
    .container
      .main-content
        block content
